body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", "Raleway", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.modal-login,
#loginContent {
  border-radius: 20px;
}

#loginHeader {
  display: inline-block !important;
  text-align: center;
}

#loginHeader h5 {
  color: rgb(4, 121, 255);
  font-size: 15px;
}

#loginHeader button {
  position: absolute;
  top: 17px;
  right: 17px;
}

#loginBody {
  text-align: center;
}

#loginBody p {
  color: gray;
}

#loginBody button {
  width: 200px;
}

/* Modal Konsultasi */
.modal-konsultasi {
  border-radius: 10px;
  letter-spacing: 0.5px;
  font-size: 12px !important;
}

img .profile {
  max-width: 100%;
  border-radius: 50%;
}

#konsultasiHeader {
  border: 1px solid #ccc;
  width: 100%;
  height: 10%;
  border: none;
  display: inline-block !important;
  background-color: rgb(4, 121, 255);
}

.msg-header-img {
  border-radius: 50%;
  width: 40px;
  margin-top: 12px;
  margin-left: 5%;
  float: left;
}

.active {
  float: left;
  width: 150px;
  margin-top: 20px;
}

.active p {
  margin-left: 10px;
  font-size: 16px;
  color: #fff;
}

.header-icons {
  width: 60px;
  float: right;
  margin-top: 15px;
}

.header-icons .fas {
  color: #fff;
  cursor: pointer !important;
  margin: 10px !important;
}

#konsultasiBody {
  padding: 0 0 50px 0;
}

.msg-inbox {
  overflow: hidden;
}

.chats {
  padding: 30px 15px 0 25px;
}

.msg-page {
  height: 380px;
  overflow-y: auto;
}

.received-chats-img {
  display: inline-block;
  width: 20px;
  float: left;
}

.received-msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.received-msg-inbox {
  width: 57%;
}

.received-msg-inbox p {
  background: #efefef none repeat scroll 0 0;
  text-align: left;
  border-radius: 10px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.outgoing-chats {
  overflow: hidden;
  margin: 26px 20px;
}

.outgoing-msg-inbox p {
  background: rgb(4, 121, 255) none repeat scroll 0 0;
  text-align: left;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.outgoing-msg-inbox {
  float: left;
  width: 46%;
  margin-left: 46%;
}

.outgoing-chats-img {
  display: inline-block;
  width: 20px;
  float: right;
}

#konsultasiFooter {
  height: 10%;
  background-color: rgb(4, 121, 255) !important;
}

.input-group {
  margin-top: 13px;
  outline: none !important;
  border-radius: 20px;
}

.form-control {
  border: none !important;
  border-radius: 20px !important;
}

.input-group-text {
  background: transparent !important;
  border: none !important;
}

.input-group .fas {
  color: #fff;
  float: right;
  cursor: pointer;
}

.form-control:focus {
  border-color: none !important;
  box-shadow: none !important;
  border-radius: 20px;
}

/* Login Page */

.overlay-white {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #eee;
}

.wrapper-form {
  width: 35%;
  height: 340px;
  background-color: #fff;
  margin: auto;
  margin-top: 150px;
  border-radius: 10px;
  position: relative;
}

.form {
  padding: 0px 40px;
}

.input-icon {
  display: flex;
}

.field-icon {
  float: right;
  margin-left: -19px;
  margin-top: 10px;
  position: relative;
  z-index: 2;
}

.text-login {
  margin-top: 60px;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: rgb(4, 121, 255);
}

.icon {
  padding: 10px;
  min-width: 50px;
  text-align: center;
  border: 0 solid black !important;
  color: rgb(4, 121, 255);
}

.input-login {
  border-radius: 0;
  border: 0 solid black !important;
  width: 100%;
  border: 1px solid #aaa;
}

.icon,
.input-login {
  border-bottom: 2px solid #d1d1d1 !important;
  border-radius: 0 !important;
}

.input-login:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
  border-bottom: 2px solid rgb(4, 121, 255) !important;
  transition: 0.4;
}

/* Chrome, Safari, Edge, Opera */
.input-login::-webkit-outer-spin-button,
.input-login::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
.input-login[type="number"] {
  -moz-appearance: textfield;
}

.circle-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.circle-wrapper .circle-image {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  margin: auto;
  margin-top: -50px;
  text-align: center;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  width: 100%;
}

.card-konten {
  padding: 0 6%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.card-konten:hover {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(0, 0, 0, 0.7);
  transition: 0.5s;
  cursor: pointer;
}

.item {
  display: inline-block;
}
.featured-image {
  float: left;
  width: 40%;
}
.featured-image img {
  margin-top: 20px;
  margin-left: 5px;
  width: 75%;
  border-radius: 50%;
}
.description {
  margin-top: 18px;
  float: left;
  width: 55%;
}
.status {
  padding: 7px 10px 7px 10px !important;
}

/* on Mobile */
@media screen and (max-width: 550px) {
  .featured-image {
    width: 100%;
  }
  .featured-image img {
    width: 50%;
  }
  .description {
    width: 97%;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .modal-login,
  .modal-konsultasi {
    text-align: center !important;
  }
  #loginBody button {
    width: 100px;
  }
  .msg-page {
    height: 300px;
  }
}

@media screen and (max-width: 992px) {
  .wrapper-form {
    width: 100%;
  }
  .icon {
    display: none;
  }
}
