/* FONT IMPORT */

@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", "Raleway", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.modal-login .modal-content {
  border-radius: 20px;
}

.modal-header,
.modal-footer {
  display: inline-block !important;
}

.modal-header h5 {
  color: rgb(4, 121, 255);
  font-size: 15px;
}

.modal-header button {
  position: absolute;
  top: 17px;
  right: 17px;
}

.modal-body p {
  color: gray;
}

.modal-body button {
  width: 200px;
}

/* Login Page */

.overlay-white {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #eee;
}

.wrapper-form {
  width: 35%;
  height: 340px;
  background-color: #fff;
  margin: auto;
  margin-top: 150px;
  border-radius: 10px;
  position: relative;
}

.form {
  padding: 0px 40px;
}

.input-icon {
  display: flex;
}

.field-icon {
  float: right;
  margin-left: -19px;
  margin-top: 10px;
  position: relative;
  z-index: 2;
}

.text-login {
  margin-top: 60px;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: rgb(4, 121, 255);
}

.icon {
  padding: 10px;
  min-width: 50px;
  text-align: center;
  border: 0 solid black !important;
  color: rgb(4, 121, 255);
}

.input-login {
  border-radius: 0;
  border: 0 solid black !important;
  width: 100%;
  border: 1px solid #aaa;
}

.icon,
.input-login {
  border-bottom: 2px solid #d1d1d1 !important;
  border-radius: 0 !important;
}

.input-login:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
  border-bottom: 2px solid rgb(4, 121, 255) !important;
  transition: 0.4;
}

/* Chrome, Safari, Edge, Opera */
.input-login::-webkit-outer-spin-button,
.input-login::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
.input-login[type="number"] {
  -moz-appearance: textfield;
}

.circle-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.circle-wrapper .circle-image {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  margin: auto;
  margin-top: -50px;
  text-align: center;
}

.card-konten {
  padding: 0 6%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.card-konten:hover {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(0, 0, 0, 0.7);
  transition: 0.5s;
  cursor: pointer;
}

.item {
  display: inline-block;
}
.featured-image {
  float: left;
  width: 40%;
}
.featured-image img {
  margin-top: 20px;
  margin-left: 5px;
  width: 75%;
  border-radius: 50%;
}
.description {
  margin-top: 18px;
  float: left;
  width: 55%;
}
.status {
  padding: 7px 10px 7px 10px !important;
}

/* on Mobile */
@media screen and (max-width: 550px) {
  .featured-image {
    width: 100%;
  }
  .featured-image img {
    width: 50%;
  }
  .description {
    width: 97%;
    margin-bottom: 10px;
    margin-top: 0;
  }
}

@media screen and (max-width: 992px) {
  .wrapper-form {
    width: 100%;
  }
  .icon {
    display: none;
  }
}
