body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", "Raleway", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(4, 121, 255);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(5, 110, 230);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.modal-login,
#loginContent,
.modal-end,
#endContent {
  border-radius: 20px;
}

#loginHeader,
#endHeader {
  display: inline-block !important;
  text-align: center;
}

#loginHeader h5,
#endHeader h5 {
  color: rgb(4, 121, 255);
  font-size: 15px;
}

#loginHeader button,
#endHeader button {
  position: absolute;
  top: 17px;
  right: 17px;
}

#loginBody,
#endBody {
  text-align: center;
}

#loginBody p,
#endBody p {
  color: gray;
}

#loginBody button,
#endBody button {
  width: 200px;
}

/* Modal Konsultasi */
.modal-konsultasi {
  border-radius: 10px;
  letter-spacing: 0.5px;
  font-size: 12px !important;
}

img .profile {
  max-width: 100%;
  border-radius: 50%;
}

#konsultasiHeader {
  border: 1px solid #ccc;
  width: 100%;
  height: 10%;
  border: none;
  display: inline-block !important;
  background-color: rgb(4, 121, 255);
}

.msg-header-img {
  border-radius: 50%;
  width: 40px;
  margin-top: 12px;
  margin-left: 5%;
  float: left;
}

.name-profile {
  float: left;
  width: 150px;
  margin-top: 20px;
}

.name-profile p {
  margin-left: 10px;
  font-size: 16px;
  color: #fff;
}

.header-icons {
  width: 60px;
  float: right;
  margin-top: 15px;
}

.header-icons .fas {
  color: #fff;
  cursor: pointer !important;
  margin: 10px !important;
}

#konsultasiBody {
  padding: 0 0 50px 0;
}

.msg-inbox {
  overflow: hidden;
}

.chats {
  padding: 30px 15px 0 25px;
}

.msg-page {
  height: 380px;
  overflow-y: auto;
}

.received-chats-img {
  display: inline-block;
  width: 20px;
  float: left;
}

.received-msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.received-msg-inbox {
  width: 57%;
}

.received-msg-inbox p {
  background: #efefef none repeat scroll 0 0;
  text-align: left;
  border-radius: 10px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.outgoing-chats {
  overflow: hidden;
  margin: 26px 20px;
}

.outgoing-msg-inbox p {
  background: rgb(4, 121, 255) none repeat scroll 0 0;
  text-align: left;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.outgoing-msg-inbox {
  float: left;
  width: 46%;
  margin-left: 46%;
}

.outgoing-chats-img {
  display: inline-block;
  width: 20px;
  float: right;
}

#konsultasiFooter {
  height: 10%;
  background-color: rgb(4, 121, 255) !important;
}

#group {
  margin-top: 13px;
  outline: none !important;
  border-radius: 20px;
}

#input-message {
  border: none !important;
  border-radius: 20px !important;
}

#group-text {
  background: transparent !important;
  border: none !important;
}

#group .fas {
  color: #fff;
  float: right;
  cursor: pointer;
}

#input-message:focus {
  border-color: none !important;
  box-shadow: none !important;
  border-radius: 20px;
}

.search input[type="text"] {
  padding: 8px 7px 8px 7px;
  font-size: 17px;
  border: none;
  border-radius: 10px;
}

/* Login Page */

.overlay-white {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #eee;
}

.wrapper-form {
  width: 35%;
  background-color: #fff;
  margin: auto;
  margin-top: 150px;
  border-radius: 10px;
  position: relative;
  padding-bottom: 30px;
}

.form {
  padding: 0px 40px;
}

.input-icon {
  display: flex;
}

.field-icon {
  float: right;
  margin-left: -19px;
  margin-top: 10px;
  position: relative;
  z-index: 2;
}

.text-login {
  margin-top: 60px;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: rgb(4, 121, 255);
}

.icon {
  padding: 10px;
  min-width: 50px;
  text-align: center;
  border: 0 solid black !important;
  color: rgb(4, 121, 255);
}

.input-login {
  border-radius: 0;
  border: 0 solid black !important;
  width: 100%;
  border: 1px solid #aaa;
}

.icon,
.input-login {
  border-bottom: 2px solid #d1d1d1 !important;
  border-radius: 0 !important;
}

.input-login:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
  border-bottom: 2px solid rgb(4, 121, 255) !important;
  transition: 0.4;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.circle-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.circle-wrapper .circle-image {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  margin: auto;
  margin-top: -50px;
  text-align: center;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  width: 100%;
}

a.dashboard-card,
a.dashboard-card:hover {
  color: inherit;
  text-decoration: none;
}

.card-konten {
  padding: 0 6%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.card-konten:hover {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(0, 0, 0, 0.7);
  transition: 0.5s;
  cursor: pointer;
}

.item {
  display: inline-block;
}
.featured-image {
  float: left;
  width: 40%;
}
.featured-image img {
  margin-top: 20px;
  margin-left: 5px;
  width: 75%;
  border-radius: 50%;
}
.description {
  margin-top: 18px;
  float: left;
  width: 55%;
}
.status {
  padding: 7px 10px 7px 10px !important;
}

.button-icon {
  width: 55px;
  height: 55px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.camera4 {
  display: block;
  width: 70%;
  height: 50%;
  position: absolute;
  top: 30%;
  left: 15%;
  background-color: #000;
  border-radius: 5px;
}
.camera4:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 7px solid #fff;
  position: absolute;
  top: 15%;
  left: 25%;
  background-color: #000;
  border-radius: 15px;
}
.camera4:before {
  content: "";
  display: block;
  width: 50%;
  height: 10px;
  position: absolute;
  top: -16%;
  left: 25%;
  background-color: #000;
  border-radius: 10px;
}

#profile-form {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}
#profile-upload {
  background-image: url("../images/default.png");
  background-size: cover;
  background-position: center;
  height: 160px;
  width: 160px;
  border: 1px solid #bbb;
  position: relative;
  top: 10px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 30px;
  margin-bottom: 0px;
}
#profile-upload:hover input.upload {
  display: block;
}
#profile-upload:hover {
  border: 1px solid gray;
}
#profile-upload:hover .hvr-profile-img {
  opacity: 1;
}
.hvr-profile-img {
  opacity: 0.3;
}

#profile-upload input.upload {
  z-index: 1;
  left: 0;
  margin: 0;
  bottom: 0;
  top: 0;
  padding: 0;
  opacity: 0;
  outline: none;
  cursor: pointer;
  position: absolute;
  width: 100%;
  display: none;
}

/* on Mobile */
@media screen and (max-width: 550px) {
  .featured-image {
    width: 100%;
  }
  .featured-image img {
    width: 50%;
  }
  .description {
    width: 97%;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .modal-login,
  .modal-konsultasi,
  .modal-end {
    text-align: center !important;
  }
  #loginBody button,
  #endBody button {
    width: 100px;
  }
  .msg-page {
    height: 300px;
  }
  #profil .prof {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #profil .prof2 {
    margin-top: 35px;
  }
}

/* on Laptop */
@media screen and (max-width: 992px) {
  .wrapper-form {
    width: 100%;
  }
  .icon {
    display: none;
  }
}

/* on Large Screen */
@media (min-width: 1200px) {
  #profil form {
    margin: 5px 20px 0 10px;
  }
}
